@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: plum;
    margin:50px;
}

.about {
    display: flex;
    flex-direction: columns;
    margin: 20px;
    padding: 10px;
    
}

.about p {
    margin-top: 100px;
    margin-left:10px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
 
}

.hello img {
    height: 400px;
    text-align: center;
    border-radius: 30px;
    box-shadow: rgba(rgb(20, 1, 1));

}

h2 {
    text-decoration: underline red;
    text-underline-offset: 8px;

}

h2 span {
    font-family: "biblo";
    color: rgb(157, 0, 255);
}


h3 {
    color: whitesmoke;
    margin-top: 10px;
}

