@import url('https://fonts.googleapis.com/css2?family=Flicker&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;   
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg,#2f1c53, #a46dff, #f6d1fd);
    overflow: hidden;
}

#container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 100vh;
    width: 100%;    
} 

.sidebar {
    grid-column:span 3;
    background: #fdf9ff;
    box-shadow: 0 10px 20px rgba(3, 18, 85, 0.5), 0 15px 40px rgba(4, 3, 3, 0.1); 
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    grid-column:span 7;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    margin-top: 200px;
}

 section.my-pic {
    grid-column: 12;
    box-shadow: 0 5px 10px rgba(154, 160, 186, 0.5), 0 15px 40px rgba(0, 0, 0, 0.1); 
 }

 .my-pic img {
    width: 250px; 
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;    
}

.info h3 {
    text-align: center;
    margin-top: 20px
}

.info h3 span {
    color: white;
}

.sidebar .nav {
    list-style: none;
    margin-top: 50px;
}

.button {
    position: relative;
    font-weight: 500;
    height: 60px;
    width: 150px;
    display: block;
    border-bottom: 1px solid #e8dfec;
    padding: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.button:hover {
    border-bottom: 2px solid green;
}

.button i.over {
    z-index: 500;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.button:hover i.over {
    -webkit-transform: scale(2) rotate(90deg);
    -moz-transform: scale(2) rotate(90deg);
    -o-transform: scale(2) rotate(90deg);
    transform: scale(2) rotate(90deg);
    opacity: 0;
}

.button i.under {
    z-index: 499;
    opacity: 0.15;
}
.button i {
    font-size: 25px;
    margin-right: 15px;
    margin-top: 10px;
    padding: 5px;
    position: absolute;
    top: 6px;
    left: 8px;
    color: purple;
}

.button span.big-text {
    font-size: 16px;
    color: #302e4d;
    text-shadow: 0px 1px #888;
    position:absolute;
    top: 25px;
    right: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.button:hover span.big-text {
    top: 15px;
}

.button span.small-text {
    position: absolute;
    font-size: 13px;
    color: red;
    top: 40px;
    right: -200px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease 0.3s;
}

.button:hover span.small-text {
    right: 20px;
}

.active i {
    color: green;
}

.sidebar .logo {
    font-family: 'Flicker' , sans-serif;
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 30px;
}

.sidebar .logo a {
    letter-spacing: 2px;
    padding: 15px 20px;
    position: relative;
}

.name {
    color: #ff9900;
    font-weight: 700;
    font-size: 20px;
    text-transform:uppercase;  
}

.l-name {
    color: #00cc66;
    font-size: 18px;   
}

.dot {
    font-size: 40px;
    color: purple;
}

@media only screen and (max-width: 768px) {
    #container {
      display: grid;
      grid-template-columns: 1fr;
      padding: 1em;
      grid-row-gap: 100px;
    }
  }

